<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="%LAUNCHER_PATH%" arguments="" stdoutLogEnabled="false" hostingModel="inprocess" stdoutLogFile="\\?\%home%\LogFiles\stdout">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="#{Ambiente}#" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>